<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.community.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.ls.community.model.Question">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="title" column="TITLE" jdbcType="VARCHAR"/>
            <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="BIGINT"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="BIGINT"/>
            <result property="creator" column="CREATOR" jdbcType="INTEGER"/>
            <result property="commentCount" column="COMMENT_COUNT" jdbcType="INTEGER"/>
            <result property="viewCount" column="VIEW_COUNT" jdbcType="INTEGER"/>
            <result property="likeCount" column="LIKE_COUNT" jdbcType="INTEGER"/>
            <result property="tag" column="TAG" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,TITLE,DESCRIPTION,
        GMT_CREATE,GMT_MODIFIED,CREATOR,
        COMMENT_COUNT,VIEW_COUNT,LIKE_COUNT,
        TAG
    </sql>
</mapper>
